body {
  font-family: cursive;
  color: #000000;
}
table {
  width: 95vw;
  height: 100vh;
  text-align: center;
  position: fixed;
}
th {
  background: linear-gradient(to right, #000000, #4d4444);
  color: #ffffff;
}
td {
  border-radius: 10%;
  border: solid black;
  background: linear-gradient(to right, #666d72, #666666);
}
.quick {
  background: linear-gradient(to right, #84f107, #e5ffd0);
}
.avg {
  background: linear-gradient(to right, #f3ef03, #e5ffd0);
}
.slow {
  background: linear-gradient(to right, #ff0000, #e5ffd0);
}
.good {
  background: linear-gradient(to right, #4114bb, #6a76b1);
}
.mid {
  background: linear-gradient(to right, #04aac7, #73c4d3);
}
.bad {
  background: linear-gradient(to right, #80c4c4, #e6fffe);
}
